{{ partial "header" . }}

<main class="tk-masthead">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-5 mx-auto col-md-5 order-md-2">
        <img class="img-fluid mb-3 mb-md-0 tk-logo" src="/img/logo.png" alt="">
      </div>
      <div class="col-md-7 order-md-1 text-center text-md-left pr-md-5">
        <h1 class="mb-3 tk-text-big">rav1e</h1>
        <p class="lead">
          rav1e is an experimental AV1 video encoder. It is designed to eventually cover all use cases, though in its
          current form it is most suitable for cases where libaom (the reference encoder) is too slow.
        </p>
        <div class="d-flex flex-column flex-md-row lead mb-3">
          <a href="{{ ref . "/docs/overview.md" }}" class="btn btn-lg btn-tk-primary mb-3 mb-md-0 mr-md-3">Get
            started</a>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="text-center">
  <h1><i class="fa fa-rocket" aria-hidden="true"></i> Statistics</h1>
</div>
<div class="masthead-followup row m-0 border border-white">
  <div class="col-12 col-sm-3 py-4">
    <div class="stats-card card text-center">
      <h6>0.1</h6>
      <div>Release</div>
    </div>
  </div>
  <div class="col-12 col-sm-3 py-4">
    <div class="stats-card card text-center">
      <h6>1650+</h6>
      <div>Commits</div>
    </div>
  </div>
  <div class="col-12 col-sm-3 py-4">
    <div class="stats-card card text-center">
      <h6>50+</h6>
      <div>Contributors</div>
    </div>
  </div>
  <div class="col-12 col-sm-3 py-4">
    <div class="stats-card card text-center">
      <h6>82%</h6>
      <div>Coverage</div>
    </div>
  </div>
</div>

<footer class="tk-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="tk-footer-links">
      <li><a href="https://github.com/xiph/rav1e">GitHub</a></li>
      <li><a href="https://github.com/xiph/rav1e/tree/master/examples">Examples</a></li>
      <li><a href="/docs/overview/">About</a></li>
    </ul>
    <p>Built on top of <a href="https://github.com/tokio-rs/website">Tokio Website</a> by Team rav1e with 💚.</p>
  </div>
</footer>

{{ partial "footer" . }}